

body{
    background-color:whitesmoke;
    font-family: 'AkzidenzGrotesk', sans-serif;
    height: 100vh; 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
}

@keyframes fadeInAnimation {
      0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.info{
    position: absolute; 
    width: 50%;
    margin: 1%;
    bottom: 0;          
    left: 0;            
    font-size: 0.75vw;
}

div.desc {
    margin-top: 10px;
    margin: 1%;
    width: 20%;
    grid-column: 1;
}


h1{
    color:  rgb(0, 0, 0);
    margin: 1%;
    grid-column: 1;
    font-size: 4em;
    line-height: 75%;
}

p{
    color: black;
    margin: 1%;
    font-style: normal;
    font-size: small;
}


a{
    color: black;
    margin: 1%;
    font-size: 15;
    text-decoration: none;
}
.corso{
    font-size: 15;
    margin: 0;
    color: grey;
    text-decoration: none;
}
.slider-container {
    position: absolute;
    bottom: 20px;
    right: 1%;
    height: 200px; /* Altezza del cursore */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(360deg); /* Ruota il contenitore */
    transform-origin: center;
}

input[type="range"] {
    width: 200px; /* Larghezza del cursore che diventa l'altezza per il cursore verticale */
}

.data{
    font-size: small;
    color: gray;
}